body
{
	margin: 0;
	padding: 0;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

/*.responsive
{

	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;

}*/

.container
{

	width: auto;
	position: relative;
	margin: auto;

}

.floating-box
{

	display: block;
	margin:0;
	width: 100%;
}

.floating-box li
{
    display: inline-block;
	width:24%;
	text-align: center;
	margin-bottom: 10px;
}

.col-6 {width: 50%;}


/*@media only screen and (max-width: 768px) {
    
    
    [class="floating-box"]{
    	width:100%;
    }

@media (min-width: 480px and max-width: 786px) {
    img { float:right; margin:0 0 5px 5px }
}


@media (max-width: 479px) {
    
    div { padding-bottom:50px; }
    img { position:absolute; right:0; bottom:0 }
} */  

@media (max-width: 960px) and (min-width: 768px) {

.container li{
width: 31.33%;
}
}

@media (max-width: 768px) and (min-width: 500px) {

.container li{
width: 49%;
}
}

@media (max-width: 500px) {

.container li{
width: 100%;
}
}

